game
*.o
*.dSYM
*.wav
*.aif

lib/liblcthw.a
include/lcthw
include/lcthw/*

media/music/Sneak.ogg

build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
.DS_Store
test-reports/
*/.DS_Store

platform/ios/DaBesEngine/build
platform/ios/DaBesEngine/build/*
submodules/liblcthw/xcode/build
submodules/liblcthw/xcode/build/*
