[submodule "submodules/liblcthw"]
	path = submodules/liblcthw
    url = https://github.com/hunterbridges/liblcthw.git
    ignore = dirty
[submodule "submodules/lua-ios-library"]
	path = submodules/lua-ios-library
	url = https://github.com/hunterbridges/lua-ios-library.git
[submodule "submodules/Fragaria"]
	path = submodules/Fragaria
	url = https://github.com/scrivel/Fragaria
[submodule "submodules/PSMTabBarControl"]
	path = submodules/PSMTabBarControl
	url = git@github.com:Hejki/PSMTabBarControl.git
[submodule "submodules/freetype2-ios"]
	path = submodules/freetype2-ios
	url = https://github.com/hunterbridges/freetype2-ios.git
